{% extends 'auctions/layout.html' %}

{% block body %}
<div>
    <section style='border:2px solid black'>
        <h2>{{listing.title}}</h2>
        <h4>Category: {{ listing.category }}</h4>
        <p>{{listing.description}}</p>
        <p>start-bid: {{listing.starting_bid}}$</p>
        <p>current-bid: {{value}}</p>
    </section>

</div>
<div>
    {% if message %}
    {{message}}
    {% endif %}
    <form action="{% url 'bidding' listing.id %}" , method="Post">
        {% csrf_token %}
        Place your Bid<input type="text" name='user_bid'>
        <input type="submit" value='Submit'>
    </form>
</div>
{% endblock %}