{% extends 'auctions/layout.html' %}
{% block body %}
<h2>
    Category: {{q}}
</h2>
{% for listing in listings %}
<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="fakeimg"><img src="{{listing.image_url}}" alt="Image"></div>
        </div>
        <div class="col-sm-6">
            <div>
                <a href="{% url 'listing' listing.id %}" style="text-decoration: none;">

                    <h1>{{listing.title}}</h1>
                </a>
                <h4>Category: {{ listing.category }}</h4>
                <p style="margin-top:3rem;">{{listing.description}}</p>
                {% if listing.closed %}
                <p><strong>listing is closed</strong> </p>

                <p>{{listing.winner}}</p>

                <a href="{% url 'remove_watchlist' listing.id %}">
                    <button type="button" class="btn" style='color:blue'>

                        Remove from Watchlist
                    </button>
                </a>

                {% else %}
                <p style="margin-top:3rem;" id='bid'>start-bid: {{listing.starting_bid}}$</p>
                <p id='bid'>current-bid: {{listing.current_bid}}</p>
            </div>
            <div style='margin-top:6rem'>
                {% if user.is_authenticated %}
                <a href="{% url 'bidding' listing.id %}">
                    <button type="button" class="btn" style='color:blue'>

                        bid
                    </button>
                </a>
                <a href="{% url 'remove_watchlist' user.id %}">
                    <button type="button" class="btn" style='color:blue'>

                        Remove from Watchlist
                    </button>
                </a>

                {% else %}
                <button type="button" class="btn">
                    <a href="#">
                        Log-in to Bid
                    </a>
                </button>}
                {% endif %}
                {% endif %}
            </div>

        </div>
    </div>

</div>
{% empty %}
<p>your searched category doest exist</p>
<p>categories available</p>
{% for e in categories %}
<ul>
    <li>{{e}}</li>
</ul>
{%endfor%}
{% endfor %}
{% endblock %}