<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Sell-It</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class='nav-tem'>
                <a class='nav-link' href="{% url 'active' %}">Active-Listings
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_listing' %}">Sell</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'watchlist' user.id %}">Watchlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log-out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">{{ user.username }}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline" action="{% url 'search' %}">
            <input class="form-control mr-sm-2" type="text" name='q' placeholder="Search">
            <!-- <button class="btn btn-success my-2 my-sm-0" type="button">Search</button> -->
        </form>
    </div>
</nav>